
@{
    ViewBag.Title = "Contul meu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="loc-form-title">Contul meu</div>
<div class="loc-list-content">

    <div class="w3-row">
        <a href="javascript:void(0)" onclick="openTab(event, 'Setari');">
            <div class="w3-quarter tablink loc-border-bottom loc-tab-title w3-padding">Setarile contului</div>
        </a>
        <a href="javascript:void(0)" onclick="openTab(event, 'AnunturiActive');">
            <div class="w3-quarter tablink loc-border-bottom w3-padding">Anunturi active</div>
        </a>
        <a href="javascript:void(0)" onclick="openTab(event, 'AnunturiInactive');">
            <div class="w3-quarter tablink loc-border-bottom w3-padding">Anunturi inactive</div>
        </a>
        <a href="javascript:void(0)" onclick="openTab(event, 'MesajeleMele');">
            <div class="w3-quarter tablink loc-border-bottom w3-padding">Mesajele mele</div>
        </a>
    </div>

    <div id="Setari" class="w3-container myAccount" style="display:block;">
        <h2>Schimba datele contului</h2>
        <div class="loc-product-form">

            <form method="post" action="">
                <fieldset style="border: none;">
                    <label for="LastName">Nume*</label>
                    <input class="loc-input-form" type="text" id="LastName" name="LastName" required="required" placeholder="Nume . . ." />

                    <label for="FirstName">Prenume*</label>
                    <input class="loc-input-form" type="text" id="FirstName" name="FirstName" required="required" placeholder="Prenume . . ." />

                    <label for="Email">Email*</label>
                    <input class="loc-input-form" type="email" id="Email" name="Email" required="required" placeholder="Email . . ." />

                    <label for="PhoneNumber">Numar telefon</label>
                    <input class="loc-input-form" type="text" id="PhoneNumber" name="PhoneNumber" placeholder="Numar telefon . . ." />

                    <label for="Password">Parola*</label>
                    <input class="loc-input-form" type="password" id="Password" name="Password" required="required" placeholder="Parola . . ." />

                    <label for="RePassword">Reintroduceti parola*</label>
                    <input class="loc-input-form" type="password" id="RePassword" name="RePassword" required="required" placeholder="Reintroduceti parola . . ." />

                    <a href="/" class="loc-back-button">Inapoi la pagina principala</a>
                    <input type="submit" class="loc-submit-form" value="Inregistreaza-te" />
                </fieldset>
            </form>
        </div>
    </div>

    <div id="AnunturiActive" class="w3-container myAccount" style="display:none">
        <h2>Anunturi active</h2>
        <div class="loc-product">
            <div class="loc-prod-img">
                <img src="~/Images/tocana_legume.jpg" class="loc-img-card" />
            </div>
            <div class="loc-prod-details">
                <h2><a class="loc-link-title" href="#">Title of this product</a></h2>
                <p> Localitate: Galati</p>
                <p class="loc-prod-name">Produs vândut de: Popescu Alex</p>
                <a class="loc-link" href="#"><i class="far fa-eye"></i> Vezi anunțul</a>
            </div>
        </div>
        <div class="loc-product">
            <div class="loc-prod-img">
                <img src="~/Images/tocana_legume.jpg" class="loc-img-card" />
            </div>
            <div class="loc-prod-details">
                <h2><a class="loc-link-title" href="#">Title of this product</a></h2>
                <p> Localitate: Galati</p>
                <p class="loc-prod-name">Produs vândut de: Popescu Alex</p>
                <a class="loc-link" href="#"><i class="far fa-eye"></i> Vezi anunțul</a>
            </div>
        </div>
        <div class="loc-product">
            <div class="loc-prod-img">
                <img src="~/Images/tocana_legume.jpg" class="loc-img-card" />
            </div>
            <div class="loc-prod-details">
                <h2><a class="loc-link-title" href="#">Title of this product</a></h2>
                <p> Localitate: Galati</p>
                <p class="loc-prod-name">Produs vândut de: Popescu Alex</p>
                <a class="loc-link" href="#"><i class="far fa-eye"></i> Vezi anunțul</a>
            </div>
        </div>
    </div>

    <div id="AnunturiInactive" class="w3-container myAccount" style="display:none">
        <h2>Anunturi dezactivate</h2>
        <div class="loc-product" style="opacity: 0.7;">
            <div class="loc-prod-img">
                <img src="~/Images/tocana_legume.jpg" class="loc-img-card" />
            </div>
            <div class="loc-prod-details">
                <h2><a class="loc-link-title" href="#">Title of this product</a></h2>
                <p> Localitate: Galati</p>
                <p class="loc-prod-name">Produs vândut de: Popescu Alex</p>
                <a class="loc-link" href="#"><i class="far fa-eye"></i> Vezi anunțul</a>
            </div>
        </div>
        <div class="loc-product" style="opacity: 0.7;">
            <div class="loc-prod-img">
                <img src="~/Images/tocana_legume.jpg" class="loc-img-card" />
            </div>
            <div class="loc-prod-details">
                <h2><a class="loc-link-title" href="#">Title of this product</a></h2>
                <p> Localitate: Galati</p>
                <p class="loc-prod-name">Produs vândut de: Popescu Alex</p>
                <a class="loc-link" href="#"><i class="far fa-eye"></i> Vezi anunțul</a>
            </div>
        </div>
    </div>

    <div id="MesajeleMele" class="w3-container myAccount" style="display:none">
        <h2>Mesajele mele</h2><br/>
        <a class="loc-button-orange" href="/Messages/Messages">Mergeti la pagina cu mesaje</a>
    </div>
</div>

<script>
    function openTab(evt, cityName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("myAccount");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" loc-tab-title", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.firstElementChild.className.replace(" loc-border-bottom", "");
        evt.currentTarget.firstElementChild.className += " loc-tab-title";
    }
</script>

