
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="loc-form-title">Creaza un cont nou</div>
<div class="loc-product-form">

    <form method="post" action="">
        <fieldset style="border: none;">
            <label for="LastName">Nume*</label>
            <input class="loc-input-form" type="text" id="LastName" name="LastName" required="required" placeholder="Nume . . ." />

            <label for="FirstName">Prenume*</label>
            <input class="loc-input-form" type="text" id="FirstName" name="FirstName" required="required" placeholder="Prenume . . ." />

            <label for="Email">Email*</label>
            <input class="loc-input-form" type="email" id="Email" name="Email" required="required" placeholder="Email . . ." />

            <label for="PhoneNumber">Numar telefon</label>
            <input class="loc-input-form" type="text" id="PhoneNumber" name="PhoneNumber" placeholder="Numar telefon . . ." />

            <label for="Password">Parola*</label>
            <input class="loc-input-form" type="password" id="Password" name="Password" required="required" placeholder="Parola . . ." />

            <label for="RePassword">Reintroduceti parola*</label>
            <input class="loc-input-form" type="password" id="RePassword" name="RePassword" required="required" placeholder="Reintroduceti parola . . ." />

            <a href="/" class="loc-back-button">Inapoi la pagina principala</a>
            <input type="submit" class="loc-submit-form" value="Inregistreaza-te" />
        </fieldset>
    </form>
</div>

