<div class="loc-search-zone">
    <div class="loc-row">
        <div class="loc-item-search">
            <select name="area" class="" aria-label="Area" id="chooseCategory" onchange="this.form.click()">
                <option selected>Categorie</option>
                <option value="New Village">New Village</option>
                <option value="Old Town">Old Town</option>
                <option value="Modern City">Modern City</option>
            </select>
        </div>
        <div class="loc-item-search">
            <select name="price" class="" aria-label="Default select example" id="chooseCategory" onchange="">
                <option selected>Subcategorie</option>
                <option value="$100 - $250">$100 - $250</option>
                <option value="$250 - $500">$250 - $500</option>
                <option value="$500 - $1000">$500 - $1,000</option>
                <option value="$1000+">$1,000 or more</option>
            </select>
        </div>
        <div class="loc-item-search">
            <input type="address" name="address" class="" placeholder="Căutați produsul dorit" autocomplete="on" required>
        </div>
        <div class="loc-item-search">
            <button class=""><i class="fa fa-search"></i> Căutați</button>
        </div>
    </div>
    <br />
    <div class="loc-categories-zone">
        <ul class="categories">
            <li><a href="#"><span class="icon"><img src="../Images/icons/cocktail.png" alt="Băuturi"></span> Băuturi</a></li>
            <li><a href="#"><span class="icon"><img src="../Images/icons/steak.png" alt="Băuturi"></span> Carne și pește</a></li>
            <li><a href="#"><span class="icon"><img src="../Images/icons/fruits.png" alt="Băuturi"></span> Fructe și legume</a></li>
            <li><a href="#"><span class="icon"><img src="../Images/icons/boiled-egg.png" alt="Băuturi"></span> Ouă și lapte</a></li>
            <li><a href="#"><span class="icon"><img src="../Images/icons/honey.png" alt="Băuturi"></span> Miere și dulceață</a></li>
            <li><a href="#"><span class="icon"><img src="../Images/icons/bread.png" alt="Băuturi"></span> Panificație</a></li>
            <li><a href="#"><span class="icon"><img src="../Images/icons/home.png" alt="Băuturi"></span> Casă și grădină</a></li>
            <li><a href="#"><span class="icon"><img src="../Images/icons/table-saw.png" alt="Băuturi"></span> Lemn și metal</a></li>
            <li><a href="#"><span class="icon"><img src="../Images/icons/woven-bag.png" alt="Băuturi"></span> Țesut</a></li>
            <li><a href="#"><span class="icon"><img src="../Images/icons/color-palette.png" alt="Băuturi"></span> Pictură</a></li>
        </ul>
    </div>
</div>

<!--Sectiunea cu cele mai vzionate produse-->
<section>
    <div class="loc-zone-title">Cele mai vizionate produse</div>
    <div class="loc-sections-cards">
        <div class="loc-section-card">
            <div class="loc-section-card-img">
                <img src="~/Images/img001.jpg" class="loc-card-img" />
            </div>
            <div class="loc-section-card-details">
                <div class="loc-hr"><a href="/Products/ProductDetails" class="loc-card-title">Title of this product</a> <span class="loc-card-price">27 Lei</span></div>
                <p>Loren ipsum loren ipsum Loren ipsum loren ipsum Loren ipsum loren  ...</p>
                <div class="loc-card-category"><span href="#" class="loc-stars">&#10025;&#10025;&#10025;&#10025;&#10025;</span> <span class="loc-card-price">Subcat: Nealcoolice</span></div><br />
            </div>
        </div>

        <div class="loc-section-card">
            <div class="loc-section-card-img">
                <img src="~/Images/img001.jpg" class="loc-card-img" />
            </div>
            <div class="loc-section-card-details">
                <div class="loc-hr"><a href="#" class="loc-card-title">Title of this product</a> <span class="loc-card-price">27 Lei</span></div>
                <p>Loren ipsum loren ipsum Loren ipsum loren ipsum Loren ipsum loren  ...</p>
                <div class="loc-card-category"><span href="#" class="loc-stars">&#10025;&#10025;&#10025;&#10025;&#10025;</span> <span class="loc-card-price">Subcat: Nealcoolice</span></div><br />
            </div>
        </div>

        <div class="loc-section-card">
            <div class="loc-section-card-img">
                <img src="~/Images/img001.jpg" class="loc-card-img" />
            </div>
            <div class="loc-section-card-details">
                <div class="loc-hr"><a href="#" class="loc-card-title">Title of this product</a> <span class="loc-card-price">27 Lei</span></div>
                <p>Loren ipsum loren ipsum Loren ipsum loren ipsum Loren ipsum loren  ...</p>
                <div class="loc-card-category"><span href="#" class="loc-stars">&#10025;&#10025;&#10025;&#10025;&#10025;</span> <span class="loc-card-price">Subcat: Nealcoolice</span></div><br />
            </div>
        </div>

        <div class="loc-section-card">
            <div class="loc-section-card-img">
                <img src="~/Images/img001.jpg" class="loc-card-img" />
            </div>
            <div class="loc-section-card-details">
                <div class="loc-hr"><a href="#" class="loc-card-title">Title of this product</a> <span class="loc-card-price">27 Lei</span></div>
                <p>Loren ipsum loren ipsum Loren ipsum loren ipsum Loren ipsum loren  ...</p>
                <div class="loc-card-category"><span href="#" class="loc-stars">&#10025;&#10025;&#10025;&#10025;&#10025;</span> <span class="loc-card-price">Subcat: Nealcoolice</span></div><br />
            </div>
        </div>
    </div>
</section>


<!--Sectiunea cu cele mai noi produse-->
<section>
    <div class="loc-zone-title">Cele mai noi produse</div>
    <div class="loc-sections-cards">
        <div class="loc-section-card">
            <div class="loc-section-card-img">
                <img src="~/Images/img001.jpg" class="loc-card-img" />
            </div>
            <div class="loc-section-card-details">
                <div class="loc-hr"><a href="#" class="loc-card-title">Title of this product</a> <span class="loc-card-price">27 Lei</span></div>
                <p>Loren ipsum loren ipsum Loren ipsum loren ipsum Loren ipsum loren  ...</p>
                <div class="loc-card-category"><span href="#" class="loc-stars">&#10025;&#10025;&#10025;&#10025;&#10025;</span> <span class="loc-card-price">Subcat: Nealcoolice</span></div><br />
            </div>
        </div>

        <div class="loc-section-card">
            <div class="loc-section-card-img">
                <img src="~/Images/img001.jpg" class="loc-card-img" />
            </div>
            <div class="loc-section-card-details">
                <div class="loc-hr"><a href="#" class="loc-card-title">Title of this product</a> <span class="loc-card-price">27 Lei</span></div>
                <p>Loren ipsum loren ipsum Loren ipsum loren ipsum Loren ipsum loren  ...</p>
                <div class="loc-card-category"><span href="#" class="loc-stars">&#10025;&#10025;&#10025;&#10025;&#10025;</span> <span class="loc-card-price">Subcat: Nealcoolice</span></div><br />
            </div>
        </div>

        <div class="loc-section-card">
            <div class="loc-section-card-img">
                <img src="~/Images/img001.jpg" class="loc-card-img" />
            </div>
            <div class="loc-section-card-details">
                <div class="loc-hr"><a href="#" class="loc-card-title">Title of this product</a> <span class="loc-card-price">27 Lei</span></div>
                <p>Loren ipsum loren ipsum Loren ipsum loren ipsum Loren ipsum loren  ...</p>
                <div class="loc-card-category"><span href="#" class="loc-stars">&#10025;&#10025;&#10025;&#10025;&#10025;</span> <span class="loc-card-price">Subcat: Nealcoolice</span></div><br />
            </div>
        </div>

        <div class="loc-section-card">
            <div class="loc-section-card-img">
                <img src="~/Images/img001.jpg" class="loc-card-img" />
            </div>
            <div class="loc-section-card-details">
                <div class="loc-hr"><a href="#" class="loc-card-title">Title of this product</a> <span class="loc-card-price">27 Lei</span></div>
                <p>Loren ipsum loren ipsum Loren ipsum loren ipsum Loren ipsum loren  ...</p>
                <div class="loc-card-category"><span href="#" class="loc-stars">&#10025;&#10025;&#10025;&#10025;&#10025;</span> <span class="loc-card-price">Subcat: Nealcoolice</span></div><br />
            </div>
        </div>
    </div>
</section>


<!--Sectiunea Produsele cu scorul cel mai mare-->
<section>
    <div class="loc-zone-title">Produsele cu scorul cel mai mare</div>
    <div class="loc-sections-cards">
        <div class="loc-section-card">
            <div class="loc-section-card-img">
                <img src="~/Images/img001.jpg" class="loc-card-img" />
            </div>
            <div class="loc-section-card-details">
                <div class="loc-hr"><a href="#" class="loc-card-title">Title of this product</a> <span class="loc-card-price">27 Lei</span></div>
                <p>Loren ipsum loren ipsum Loren ipsum loren ipsum Loren ipsum loren  ...</p>
                <div class="loc-card-category"><span href="#" class="loc-stars">&#10025;&#10025;&#10025;&#10025;&#10025;</span> <span class="loc-card-price">Subcat: Nealcoolice</span></div><br />
            </div>
        </div>

        <div class="loc-section-card">
            <div class="loc-section-card-img">
                <img src="~/Images/img001.jpg" class="loc-card-img" />
            </div>
            <div class="loc-section-card-details">
                <div class="loc-hr"><a href="#" class="loc-card-title">Title of this product</a> <span class="loc-card-price">27 Lei</span></div>
                <p>Loren ipsum loren ipsum Loren ipsum loren ipsum Loren ipsum loren  ...</p>
                <div class="loc-card-category"><span href="#" class="loc-stars">&#10025;&#10025;&#10025;&#10025;&#10025;</span> <span class="loc-card-price">Subcat: Nealcoolice</span></div><br />
            </div>
        </div>

        <div class="loc-section-card">
            <div class="loc-section-card-img">
                <img src="~/Images/img001.jpg" class="loc-card-img" />
            </div>
            <div class="loc-section-card-details">
                <div class="loc-hr"><a href="#" class="loc-card-title">Title of this product</a> <span class="loc-card-price">27 Lei</span></div>
                <p>Loren ipsum loren ipsum Loren ipsum loren ipsum Loren ipsum loren  ...</p>
                <div class="loc-card-category"><span href="#" class="loc-stars">&#10025;&#10025;&#10025;&#10025;&#10025;</span> <span class="loc-card-price">Subcat: Nealcoolice</span></div><br />
            </div>
        </div>

        <div class="loc-section-card">
            <div class="loc-section-card-img">
                <img src="~/Images/img001.jpg" class="loc-card-img" />
            </div>
            <div class="loc-section-card-details">
                <div class="loc-hr"><a href="#" class="loc-card-title">Title of this product</a> <span class="loc-card-price">27 Lei</span></div>
                <p>Loren ipsum loren ipsum Loren ipsum loren ipsum Loren ipsum loren  ...</p>
                <div class="loc-card-category"><span href="#" class="loc-stars">&#10025;&#10025;&#10025;&#10025;&#10025;</span> <span class="loc-card-price">Subcat: Nealcoolice</span></div><br />
            </div>
        </div>
    </div>
</section>