
@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="loc-prod-det-content" style="z-index: 9999000;">
    <h4><a class="loc-link-cat" href="/">Acasa</a> > <a class="loc-link-cat" href="/Products/Products">Produse</a> > <a class="loc-link-cat" href="#">Categorie</a> > <a class="loc-link-cat" href="#">Subcategorie</a></h4>
    <div class="loc-prod-det-img">
        <img width="100%" src="~/Images/miere-albine.jpg"/>
    </div>
    <div class="loc-prod-det-info">
        <h1 class="loc-prod-det-title">Miere de albine poliflora naturala</h1>
        <p class="loc-price">25 lei/kg</p>
        <div class="loc-sel-det">
            <img src="~/Images/logo-user.png" width="60%"/>
            <h3>Apopei Ion</h3>
        </div>
    </div>
    <div class="loc-prod-det-desc">

        <p><b>Categorie:</b> Sanatate</p>
        <p><b>Subcategorie:</b> Sanatate din natura</p>
        <p><b>Cantitate:</b> 300g</p>
        <p><b>Numar de unitati:</b> 5 buc.</p>
        <p><b>Localitate:</b> Rediu, Neamt</p>
        <p><b>Data postarii:</b> 10.10.2021</p>

        <h2>Detaliile produsului</h2>
        <div class="loc-desc-prod">
            <p>Ala bala portocala</p>
        </div>
    </div>
</div>
