
@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2>Mesajele mele</h2></center>

<div class="loc-messages-container">
    <div class="loc-messsages-users">

        <div class="loc-message-group-user">
            <div class="loc-messages-photos">
                <img class="loc-user-profile" title="Andra Herciu" src="~/Images/users/user1.png" />
            </div>
            <div class="loc-messages-names">
                <p>Andra Herciu</p>
            </div>
        </div>

        <div class="loc-message-group-user">
            <div class="loc-messages-photos">
                <img class="loc-user-profile" title="Shakira" src="~/Images/users/user2.png" />
            </div>
            <div class="loc-messages-names">
                <p>Shakira</p>
            </div>
        </div>

        <div class="loc-message-group-user-active">
            <div class="loc-messages-photos">
                <img class="loc-user-profile" title="Mira Dira" src="~/Images/users/user4.png" />
            </div>
            <div class="loc-messages-names">
                <p>Mira Dira</p>
            </div>
        </div>

        <div class="loc-message-group-user">
            <div class="loc-messages-photos">
                <img class="loc-user-profile" title="Alibaba Tudor" src="~/Images/users/user5.png" />
            </div>
            <div class="loc-messages-names">
                <p>Alibaba Tudor</p>
            </div>
        </div>

    </div>
    <div class="loc-messages">
        <div class="loc-row-message">
            <div class="loc-message-left">
                <p>Buna ziua, stimata duamna, Shakira!</p>
            </div>
        </div>
        <div class="loc-row-message">
            <div class="loc-message-right">
                <p>Buna ziua, domnule Armando!</p>
            </div>
        </div>

        <div class="loc-row-message">
            <div class="loc-message-left">
                <p>Ce faci sefu? Am auzit ca ai bemveu de vinzare, mai e valabil?</p>
            </div>
        </div>
        <div class="loc-row-message">
            <div class="loc-message-right">
                <p>Da boss, e valabil. Ia zi esti interesat?</p>
            </div>
        </div>

        <div class="loc-row-message">
            <div class="loc-message-left">
                <p>Da bosulica. Care e ultimul pret?</p>
            </div>
        </div>
        <div class="loc-row-message">
            <div class="loc-message-right">
                <p>Bosulica sub 5000 de euroi nu il dau</p>
            </div>
        </div>
    </div>
</div>